[{:date "2026-06-10"
  :title "Ultrahack"
  :desc "
  Lisää tietoa pian. pistä sillä välin jo kalenteriin! https://ultrahack.org/hackathons/drone-innovation-hackathon-2
  "}

 {:date "2026-07-25"
  :title "NinjaBlitz26 (day 1)"
  :desc "
  Toistaiseksi vielä placeholder-varaus. Tässä pyrimme järjestämään legendaarisen NinjaBlitz -tapahtuman!
  Varaa molemmat päivät tälle tapahtumalle!
  "}

 {:date "2026-07-26"
  :title "NinjaBlitz26 (day 2)"
  :desc "
  Toistaiseksi vielä placeholder-varaus. Tässä pyrimme järjestämään legendaarisen NinjaBlitz -tapahtuman!
  Varaa molemmat päivät tälle tapahtumalle!
  "}]