[{:date "2026-01-15"
  :title "Hieno tapahtuma"
  :desc "
  ##### Kisaillaan

  Meillä on hieno päivä, paljon kisaajia, kova meno! Liity [täällä](https://youtu.be/dQw4w9WgXcQ)
  "}

 {:date "2026-01-18"
  :title "Toinen upea tapahtuma!"
  :desc "
  ##### Ehkä kisaillaan

  Kisaillaan jos jaksetaan.

  ###### Säännöt

  Ota kopu mukaan.
  "}]