[{:date "2026-07-25"
  :title "NinjaBlitz27 (day 1)"
  :desc "
  Toistaiseksi vielä placeholder-varaus. Tässä pyrimme järjestämään legendaarisen NinjaBlitz -tapahtuman!
  Varaa molemmat päivät tälle tapahtumalle!
  "}

 {:date "2026-07-26"
  :title "NinjaBlitz27 (day 2)"
  :desc "
  Toistaiseksi vielä placeholder-varaus. Tässä pyrimme järjestämään legendaarisen NinjaBlitz -tapahtuman!
  Varaa molemmat päivät tälle tapahtumalle!
  "}]